<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.salat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/namaz"
        android:label="@string/h1"
        android:roundIcon="@drawable/namaz"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Hadis"></activity>
        <activity android:name=".AboutInventor" />
        <activity android:name=".Feedback" />
        <activity android:name=".KuranShikkha" />
        <activity android:name=".ForojHojjNamanrShasti" />
        <activity android:name=".HojjerGuruttoOFojilot" />
        <activity android:name=".BodliHojjoKichuKotha" />
        <activity android:name=".HojjerDingulateKoroniosomuho" />
        <activity android:name=".Tamattur" />
        <activity android:name=".Kibran" />
        <activity android:name=".Ifrad" />
        <activity android:name=".BivinnoProkarerHojj" />
        <activity android:name=".HojerForojSunnatOwajib" />
        <activity android:name=".IhramerNishiddhoKaj" />
        <activity android:name=".Sair" />
        <activity android:name=".Taoaf" />
        <activity android:name=".TaoafOSair" />
        <activity android:name=".HajOomrahorNiot" />
        <activity android:name=".HojerBornonaOItihas" />
        <activity android:name=".SalatTime" />
        <activity android:name=".Counter" />
        <activity android:name=".ZakatCalculator" />
        <activity android:name=".ChitroSohoMohiladerNamaz" />
        <activity android:name=".ChitroSohoPurusherNamaz" />
        <activity android:name=".AboutApp" />
        <activity android:name=".SuraRrahman" />
        <activity android:name=".SuraIasin" />
        <activity android:name=".SuraAnNas" />
        <activity android:name=".SuraAlFalak" />
        <activity android:name=".SuraAlIkhlas" />
        <activity android:name=".SuraAlLahab" />
        <activity android:name=".SuraAnNasor" />
        <activity android:name=".SuraAlMaun" />
        <activity android:name=".SuraAlFatiha" />
        <activity android:name=".RojarFojilot" />
        <activity android:name=".KajaRoja" />
        <activity android:name=".RojaVongo" />
        <activity android:name=".RojarShorto" />
        <activity android:name=".RojarUddeshsho" />
        <activity android:name=".RojarItihas" />
        <activity android:name=".Roja" />
        <activity android:name=".JakaterFojilot" />
        <activity android:name=".JakatAdainaorarPorinam" />
        <activity android:name=".JakatMuktoSompod" />
        <activity android:name=".JakatProdanerNiom" />
        <activity android:name=".JakatBontonerKhat" />
        <activity android:name=".JakaterShorto" />
        <activity android:name=".Akika" />
        <activity android:name=".KurbanirPoshu" />
        <activity android:name=".JaderUporKurbaniOajib" />
        <activity android:name=".AlquraneKurbani" />
        <activity android:name=".KurbanirViboron" />
        <activity android:name=".ChotoChotoAmol" />
        <activity android:name=".FojilotPurnoDoaoAmol" />
        <activity android:name=".NamazerMakruhSomuho" />
        <activity android:name=".NamazVongerKaronSomuho" />
        <activity android:name=".ProcolitoShirokGunah" />
        <activity android:name=".ShirokGunah" />
        <activity android:name=".ProcolitoKobiraGunah" />
        <activity android:name=".KobiraGunah" />
        <activity android:name=".Ikamot" />
        <activity android:name=".MuajjinerAdob" />
        <activity android:name=".AjanerAhkam" />
        <activity android:name=".AjanerFojilot" />
        <activity android:name=".AjanerHukum" />
        <activity android:name=".NamazerSunnat" />
        <activity android:name=".NamazerOajib" />
        <activity android:name=".NamazerForoj" />
        <activity android:name=".JummaNamazerFojilot" />
        <activity android:name=".JummarNamazerNiot" />
        <activity android:name=".JummarNamaz" />
        <activity android:name=".IstihajarBivoron" />
        <activity android:name=".NifaserBiboron" />
        <activity android:name=".HaejerHaramKaj" />
        <activity android:name=".HaejerVumica" />
        <activity android:name=".AroNamaz" />
        <activity android:name=".IstikhajarNamaz" />
        <activity android:name=".BetererNamaz" />
        <activity android:name=".IdulAjaha" />
        <activity android:name=".IdulFitor" />
        <activity android:name=".TarabihNamaz" />
        <activity android:name=".SasterNamaz" />
        <activity android:name=".IshraqerNamaz" />
        <activity android:name=".SalatulTasbih" />
        <activity android:name=".TahajjotNamaz" />
        <activity android:name=".IdulajharNamaz" />
        <activity android:name=".NofolNamazerBiboron" />
        <activity android:name=".JanajaNamaj" />
        <activity android:name=".BibinnoGunahsomuho" />
        <activity android:name=".DoaoAmol" />
        <activity android:name=".KurbanirBiboron" />
        <activity android:name=".JakaterBiboron" />
        <activity android:name=".HojoOmrah" />
        <activity android:name=".RojarBiboron" />
        <activity android:name=".ChitrosohoNamaz" />
        <activity android:name=".SuraSomuho" />
        <activity android:name=".NamazerDoaoTasbih" />
        <activity android:name=".NamazVongerkaron" />
        <activity android:name=".NamazerForojSunnatOwajib" />
        <activity android:name=".BivinnoNamaz" />
        <activity android:name=".KajaNamaz" />
        <activity android:name=".PaswaktoNamaz" />
        <activity android:name=".NamazerBiboron" />
        <activity android:name=".HaejoNifas" />
        <activity android:name=".AjanoIkamot" />
        <activity android:name=".TaiamumerMasla" />
        <activity android:name=".TaiamumerNiom" />
        <activity android:name=".TaiamumerForoj" />
        <activity android:name=".TaiamumerShorto" />
        <activity android:name=".TaiamumerBornona" />
        <activity android:name=".Taiamum" />
        <activity android:name=".JunubiHaramMakruh" />
        <activity android:name=".MustahabGosol" />
        <activity android:name=".SunnahOnujaiGosol" />
        <activity android:name=".ForozGosolerNiom" />
        <activity android:name=".GosolerForoj" />
        <activity android:name=".GosolForojHoarKaron" />
        <activity android:name=".GosolerBornona" />
        <activity android:name=".Gosol" />
        <activity android:name=".OjurNiot" />
        <activity android:name=".OjurNiom" />
        <activity android:name=".OjuVongo" />
        <activity android:name=".OjurSunnat" />
        <activity android:name=".OjurForoz" />
        <activity android:name=".OjurFojilot" />
        <activity android:name=".OjurBornona" />
        <activity android:name=".Oju" />
        <activity android:name=".PobitrotarGurutto" />
        <activity android:name=".Pani" />
        <activity android:name=".PobitrotarBornona" />
        <activity android:name=".Pobitrota" />
        <activity android:name=".Kalema" />
        <activity android:name=".AllahorPorisoi" />
        <activity android:name=".HadisName" />
        <activity android:name=".NameOfAllah" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>